<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Non-Followers Tracker</title>
  <link rel="icon" href="favicon.png">

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
  <div id="app" class="container">
    <div v-if="!nextStep" class="container text-start">
      <h2 class="mb-2 mt-4 text-primary text-center">Instagram Non-Followers Tracker</h2>
      <div class="card p-4">
        <p class="lead">Follow these steps to find users who don't follow you back on Instagram:</p>
        <table class="table">
          <tbody>
            <tr>
              <td><strong>1.</strong></td>
              <td><strong>Log into Instagram:</strong> Open Instagram (website, in browser), and log into your account.</td>
            </tr>
            <tr>
              <td><strong>2.</strong></td>
              <td><strong>Visit <a href="https://accountscenter.instagram.com/info_and_permissions/dyi/" target="_blank">Instagram Data Download</a>:</strong> Request your data download on this page.</td>
            </tr>
            <tr>
              <td><strong>3.</strong></td>
              <td><strong>Select "followers and following" under "connections":</strong> Choose "followers and following" in the "connections" section. Opt for "JSON" format, and select all-time data for "Date Range".</td>
            </tr>
            <tr>
              <td><strong>4.</strong></td>
              <td><strong>Check your email:</strong> You'll receive an email containing a .zip file.</td>
            </tr>
            <tr>
              <td><strong>5.</strong></td>
              <td><strong>Extract and locate files:</strong> Extract the zip file, find "following.json" and "followers_1.json".</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-primary w-100 fw-bold mt-2" @click="nextStep = true">Next</button>
    </div>
    

    <div v-else class="container mt-4">

      <form id="uploadForm" enctype="multipart/form-data" class="mb-3">
        <div class="mb-3">
          <label for="followersFileInput" class="form-label">Upload <span class="text-primary fw-bold">followers_1.json</span>:</label>
          <input class="form-control" type="file" name="followersFileInput" id="followersFileInput" @change="validateFile('followersFileInput', 'followers_1.json')">
        </div>

        <div class="mb-3">
          <label for="followingsFileInput" class="form-label">Upload <span class="text-primary fw-bold">following.json</span>:</label>
          <input class="form-control" type="file" name="followingsFileInput" id="followingsFileInput" @change="validateFile('followingsFileInput', 'following.json')">
        </div>

        <button class="btn btn-primary w-100 fw-bold" type="button" @click="compareFiles">Compare Files</button>
        <button class="btn btn-secondary w-100 fw-bold mt-2" type="button" @click="nextStep = false">Previous</button>
      </form>

      <div v-if="notInFollowers.length" class="mt-4">
        <h2 class="text-center text-primary fw-bold">Non-followers</h2>
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex flex-column mb-2">
            <span class="text-primary fw-bold">Accounts</span>
          </div>
          <div class="text-muted mb-2">
            Followed Since
          </div>
        </div>
        <button class="btn btn-success w-100 fw-bold my-2" @click="downloadHTML">Download HTML</button>        
        <ol class="list-group">
          <li @click="navigateToLink(unfollower.href)" class="list-group-item d-flex justify-content-between align-items-start" v-for="unfollower in notInFollowers" :key="unfollower.value" style="cursor: pointer;">
            <div class="d-flex flex-column">
              <a :href="unfollower.href" target="_blank" class="text-decoration-none text-dark">
                {{ unfollower.value }}
              </a>
            </div>
            <div class="text-muted">
              {{ timestampToDate(unfollower.timestamp) }}
            </div>
          </li>
        </ol>                
      </div>        
      
    </div>

    <div class="text-center text-muted mt-4">
      <p class="d-inline align-items-center">
        Created by <span class="text-primary fw-bold">{{ creator.name }}</span>, visit my GitHub page: 
        <a :href="creator.github" target="_blank" class="d-inline align-items-center">
          <img src="github-mark.png" alt="GitHub Logo" width="20" height="20" class="me-1 mb-1">
        </a>
      </p>
    </div>    

  </div>

  <script type="module" defer>
    const { createApp, ref } = Vue;

    createApp({
      data() {
        return {
          creator: {
            name: 'rulkimi',
            github: 'https://github.com/rulkimi'
          },
          nextStep: false,
          notInFollowers: [],
        };
      },
      methods: {
        downloadHTML() {
          const data = this.generateHTML();

          const blob = new Blob([data], { type: 'text/html' });
          const link = document.createElement('a');
          link.href = window.URL.createObjectURL(blob);
          link.download = 'non-followers.html';
          link.click();
        },
        generateHTML() {
          const accounts = [];

          this.notInFollowers.forEach(unfollower => {
            const listItem = `
              <li style="cursor: pointer; list-style-type: none; margin-bottom: 5px;">
                <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%;">
                  <div style="display: flex; flex-direction: column; margin-bottom: 2px;">
                    <a href="${unfollower.href}" target="_blank">
                      ${unfollower.value}
                    </a>
                  </div>
                  <div style="color: #6c757d;">
                    ${this.timestampToDate(unfollower.timestamp)}
                  </div>
                </div>
              </li>
            `;
            accounts.push(listItem);
          });

          const HTMLContent = `
            <div style="justify-content: center; align-items: center; background-color: #f8f9fa;">
              <div style="margin: 0 auto; width: 80%; max-width: 600px; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <h2 style="text-align: center; color: #0d6efd; font-weight: bold;" class="text-primary fw-bold">Non-followers</h2>
                <div style="display: flex; justify-content: space-between; align-items: start; margin-bottom: 2rem;">
                  <div style="display: flex; flex-direction: column;">
                    <span style="color: #0d6efd; font-weight: bold;" class="text-primary fw-bold">Accounts</span>
                  </div>
                  <div style="color: #6c757d;">
                    Followed Since
                  </div>
                </div>
                <ol style="list-style-type: none; padding: 0;" class="list-group">
                  ${accounts.join('')}
                </ol>
              </div>
            </div>
          `;

          return HTMLContent;
        },
        timestampToDate(timestamp) {
          const unixTimestamp = timestamp;
          const date = new Date(unixTimestamp * 1000);
          const options = { month: 'short', day: 'numeric', year: 'numeric' };
          const formattedDate = date.toLocaleString('en-US', options);
          return formattedDate;
        },
        navigateToLink(link) {
          window.open(link, '_blank');
        },
        validateFile(inputId, expectedFileName) {
          const inputElement = document.getElementById(inputId);
          const file = inputElement.files[0];

          if (file) {
            const fileName = file.name.toLowerCase();
            const expectedFileNameLowerCase = expectedFileName.toLowerCase();

            if (!fileName.endsWith('.json') || fileName !== expectedFileNameLowerCase) {
              alert(`Please upload a valid ${expectedFileName} file.`);
              inputElement.value = '';  // Clear the input field
            }
          }
        },
        compareFiles() {
          const followersFileInput = document.getElementById('followersFileInput');
          const followingsFileInput = document.getElementById('followingsFileInput');

          const followersJSON = followersFileInput.files[0];
          const followingsJSON = followingsFileInput.files[0];

          if (followersJSON && followingsJSON) {
            // Use FileReader to read the content of the files
            const followersFileReader = new FileReader();
            const followingsFileReader = new FileReader();

            followersFileReader.onload = (e1) => {
              followingsFileReader.onload = (e2) => {
                const followersContent = e1.target.result;
                const followingsContent = e2.target.result;

                // Perform the comparison using the provided function
                this.notInFollowers = this.compareFollowersAndFollowing(followersContent, followingsContent);

                // Output the result
                console.log('Entries present in following but not in followers:', this.notInFollowers);
                alert('Comparison completed successfully! Results will be printed on the screen soon.');
              };

              followingsFileReader.readAsText(followingsJSON);
            };

            followersFileReader.readAsText(followersJSON);
          } else {
            alert('Please select both files.');
          }
        },
        compareFollowersAndFollowing(file1Content, file2Content) {
          const followersData = JSON.parse(file1Content);
          const followingData = JSON.parse(file2Content);

          // Extract usernames and href from followers and following
          const followersInfo = followersData.map(entry => ({ value: entry.string_list_data[0]?.value, href: entry.string_list_data[0]?.href, timestamp: entry.string_list_data[0]?.timestamp }));
          const followingInfo = followingData.relationships_following.map(entry => ({ value: entry.string_list_data[0]?.value, href: entry.string_list_data[0]?.href, timestamp: entry.string_list_data[0]?.timestamp }));

          // Find entries in following but not in followers
          return followingInfo.filter(followingEntry =>
            !followersInfo.some(followerEntry => followerEntry.value === followingEntry.value)
          );
        }
      }
    }).mount('#app');
  </script>
  <style>
    body {
      background-color: #fafafa;
    }
    .container {
      max-width: 600px;
      margin: auto;
    }
  </style>
</body>
</html>
